/*screen at least 1000px wide and less than 700px wide */

/*Color Variables*/
$textcolor: grey;

html {
  margin: 0;
  padding: 0;
  min-width: 585px;
  font-family: "Questrial", sans-serif;

  body {
    padding: 0;
    margin-left: 3px;
    margin-right: 3px;
  }

  header {
    display: flex;
    height: 16rem auto;
    padding-bottom: 25px;

    section.random-txt {
      display: none;
      color: $textcolor;
      text-align: left;
      flex: 1;

      .txt-position-left {
        margin-top: 10px;
        margin-left: 25px;
        font-size: 25px;
      }
      span.mediun-radom-txt {
        margin: 15px 0px 0px 15px;
      }
    }
    section.logotyp-nav {
      text-align: center;
      font-size: 35px;
      display: block;

      flex: 1;
      img.company-logo {
        margin-top: 30px;
        width: 320px;
      }
      .nav {
        height: 60px;
        span.menu-txt {
          color: $textcolor;
        }

        img {
          width: 40px;
          height: 35px;
          padding-right: 20px;
          margin-bottom: -0.2em;
        }
      }
    }
    section.contact {
      display: none;
      color: $textcolor;
      text-align: right;

      flex: 1;

      .txt-position-right {
        margin-top: 10px;
        margin-right: 25px;
        img {
          filter: invert(50%);
          height: 35px;
          width: 45px;
        }
      }
      span.phonenbr {
        font-size: 36px;
      }
      span.mediun-txt {
        font-size: 22px;
      }
      span.small-txt {
        font-size: 16px;
      }
    }
  }
  .main {
    background-color: #000c29;
    height: auto;
  }
  .main-img {
    margin-bottom: 3px;
    background-image: url("../images/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    width: 100%;
    background-size: 100% 100%;
  }
  .services {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    bottom: 0px;
    justify-content: space-between;

    .service-img {
      flex: 1;
      justify-content: center;
      max-width: 18rem;
      height: 15rem;

      img {
        justify-content: center;
        max-width: 17.8rem;
        max-height: auto;
      }

      .service-tag {
        background-color: rgba(0, 0, 0, 0.747);
        height: 35px;
        color: white;
        position: relative;
        bottom: 35%;
        padding-top: 8px;
        width: 17.8rem;
        font-size: 25px;
        text-align: center;
      }
    }
  }
}
//after 700
@media (min-width: 700px) {
  html {
    margin: 0;
    padding: 0;
    body {
      padding: 0;
    }
    header {
      height: auto;
      section.random-txt {
        display: block;
      }
      section.logotyp-nav {
        text-align: center;
        font-size: 35px;
        display: block;
        flex: 1;
        img.company-logo {
          margin-bottom: -30px;
        }
        .nav {
          display: none;
        }
      }
      section.contact {
        display: block;
      }
    }

    .services {
      margin-left: 0px;
      margin-right: 0px;
      justify-content: space-between;

      .service-img {
        flex: 1;
        max-width: 27rem;
        height: 18.7rem;

        img {
          justify-content: center;
          max-width: 29rem;
          max-height: 18rem;
        }

        img:hover {
          z-index: 2;
          border: 1px solid white;
          border-bottom: 5px solid white;
        }

        .service-tag {
          background-color: rgba(0, 0, 0, 0.747);
          height: 45px;
          color: white;
          position: relative;
          bottom: 35%;
          padding-top: 8px;
          width: 27rem;
          font-size: 35px;
          text-align: center;
        }
      }
    }
  }
}
